.notClickable {
    opacity: 0.5;
    cursor: not-allowed
}

#userTable {
    background-color: #14365b;
    color: aliceblue !important;
}

#userTable tr[class="even"] {
    cursor: pointer;
    background-color: #1b4776;
}

#userTable tr[class="odd"] {
    cursor: pointer;
    background-color: #14365b;
}

#userTable td {
    border-top-color: #006e80;
    border-top-width: 1px;
}

#userTable tr:hover {
    background-color: #3169a5;
}