<div class="row">
    <div class="col-6 text-center">
        <a class="btn btn-success btn-inline" href="#" data-toggle="modal"
            data-target="#musicFolderSelection">Select Folder</a>
    </div>
    <div class="col-6">
        <div class="btn-group-vertical mx-auto justify-content-md-center">
            <a class="btn btn-success btn-inline" href="#" data-toggle="modal"
                data-target="#musicSongSelection">Select Song</a>
        </div>
    </div>
    <p class="whiteText mx-auto">___________________</p>
</div>
<div class="row">
    <div class="col-12">
        <div class="player h-100 w-100 mini-scroll"
            style="margin:0 !important; overflow:auto;max-height: 1px;">
            <div class="row">
                <div class="col-12">
                    <div class="playlist" id="musicPlaylist">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>