<div class="text-center w-full mt-4">
    <a class="btn-primary" href="#" onclick="startRaffleFromUI()">Start Raffle</a>
    <a class="btn-danger" href="#" onclick="stopRaffleFromUI()">Stop Raffle</a>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 mt-2">
    <div>
        <h3 class="text-center whiteText font-bold text-2xl">Raffle Settings</h3>
        <!-- table with 3 rows for settings-->
        <table class="table whiteText mt-2 w-full border-collapse border-slate-200 bc rounded-xl"
            style="background-color: #14365b;">
            <tr>
                <th class="p-3 cyanBorder border-2 border-b-0 border-x-0 text-xl">Setting</th>
                <th class="p-3 cyanBorder border-2 border-b-0 border-x-0 text-xl">Value</th>
            </tr>
            <tbody>
                <tr>
                    <td class="p-3 cyanBorder border-solid border-4 border-x-0 border-b-0">Reward</td>
                    <td class="p-3 cyanBorder border-solid border-4 border-x-0 border-b-0">
                        <input type="text" class="settingInput input-number" id="raffleReward"
                            placeholder="The amount of points to award the winner" value="777">
                    </td>
                </tr>
                <tr>
                    <td class="p-3 cyanBorder border-solid border-4 border-x-0 border-b-0">Cost of Entry
                    </td>
                    <td class="p-3 cyanBorder border-solid border-4 border-x-0 border-b-0">
                        <input type="text" class="settingInput input-number" id="raffleCost"
                            placeholder="The amount of points to enter the raffle." value="50">
                    </td>
                </tr>
                <tr>
                    <td class="p-3 cyanBorder border-solid border-4 border-x-0 border-b-0">Duration
                        (Minutes)</td>
                    <td class="p-3 cyanBorder border-solid border-4 border-x-0 border-b-0">
                        <input type="text" class="settingInput input-number" id="raffleDuration"
                            placeholder="The duration of the raffle in minutes." value="1">
                    </td>
                </tr>
                <tr>
                    <td class="p-3 cyanBorder border-solid border-4 border-x-0 border-b-0">Quiet Mode
                    </td>
                    <td class="p-3 cyanBorder border-solid border-4 border-x-0 border-b-0">
                        <select class="settingSelect" id="raffleQuiet">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="p-3 cyanBorder border-solid border-4 border-x-0 border-b-0">Enabled</td>
                    <td class="p-3 cyanBorder border-solid border-4 border-x-0 border-b-0">
                        <select class="settingSelect" id="raffleEnabled">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-6">
            <a class="btn-danger" onclick="resetEventSettings('raffle')">Reset</a>
            <a class="btn-info" onclick="saveEventSettings('raffle')">Save</a>
        </div>

    </div>
    <div>
        <h3 class="text-center whiteText font-bold text-2xl">Users in Raffle</h3>
        <ul class="list-group eventUserList text-center" id="raffleUserList">
            <li class="list-group-item">Users will appear below</li>
        </ul>
        <h4 id="raffleWinner" class="text-4xl font-extrabold"></h4>
    </div>
    <div class="text-center">
        <h3 class="text-center whiteText font-bold text-2xl">Raffle</h3>
        <p class="text-lg mt-2">A raffle picks 1 user who entered to win a set amount of channel
            currency.</p>
        <p class="text-lg mt-2">A raffle can be started on this page or by typing !raffle in chat. Users
            type
            !enter to join the raffle.</p>
        <p class="text-lg mt-2">The results will be updated live on this page if it is open when the
            raffle
            starts. Leaving the page will remove the list, but the raffle is not affected.
            The winner will be announced to chat.</p>
    </div>
</div>