@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-info {
    @apply text-white bg-cyan-500 hover:bg-cyan-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-primary {
    @apply font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-success {
    @apply font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
    font-size: 1.2rem;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger {
    @apply font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
    font-size: 1.2rem;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #bd2130;
    border-color: #b21f2d;
}

.btn-warning {
    @apply font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
    font-size: 1.2rem;
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

html,
body {
    background-color: #060818 !important; /*Same as Glimesh.tv */
    overflow-x: hidden; /*prevents a vertical scollbar*/
}
.glimPanel {
    background: rgb(20,25,61);
    background: radial-gradient(circle, rgba(20,25,61,1) 0%, rgba(20,25,61,1) 31%, rgba(27,46,75,1) 86%);
}
.glimNav {
    background-color: #151033 !important; /*Nav bar*/
}
.glimNavItem {
    -webkit-app-region: no-drag; /*Allow the links to be clickable and not draggable. */
}
.whiteText {
    color: aliceblue;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #1672ce !important;
}
.dropdown-menu {
    background-color: #1b2e4b !important;
}

#navContainer a:hover {
    background-color: #1b2e4b !important;
}

.border-1 {
    border-top-width: 1px;
}

.cyanBorder {
    border-top-color: #006e80;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f100;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(106, 158, 189);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 101, 177);
}

select, input {
    @apply rounded-md;
    color: aquamarine !important;
    border-color: aqua !important;
    background-color: #1b2e4b !important;
}

@keyframes border-pulsate-err {
    0%   { border-color: rgb(209, 17, 0); }
    50% { border-color: rgba(0, 255, 255, 0); }
    100%   { border-color: rgb(209, 17, 0); }
}

.red-pulse {
    display: block;
    margin: 3px auto;
    border: 3px solid rgb(209, 17, 0);
    animation: border-pulsate-err 2s infinite;
}

.dataTables_wrapper label,
.dataTables_wrapper select,
.dataTables_wrapper input,
.dataTables_wrapper #example_info, .dataTables_wrapper #userTable_info, .dataTables_wrapper #obsResources_info,
.dataTables_wrapper #example_next, .dataTables_wrapper #userTable_next, .dataTables_wrapper #obsResources_next,
.dataTables_wrapper #example_previous, .dataTables_wrapper #userTable_previous, .dataTables_wrapper #obsResources_previous {
    color: aliceblue;
}

.dataTables_filter {
    margin-bottom: 0.5rem;
}

.chat-img img {
    height: 34px;
    width: 34px;
}

.admin_chat p {
    background: #651c1c none repeat scroll 0 0;
}
.admin_chat .chat-body1 img {
    background: #651c1c none repeat scroll 0 0;
}
.chat_area .admin_chat .chat-body1 {
    margin-left: 0;
}

* :disabled {
    cursor: not-allowed;
    filter: brightness(0.5);
}