<div class="m-4 grid grid-cols-1 md:grid-cols-3 gap-x-4">
    <div class="card-body glimPanel rounded-xl col-span-1 p-4 whiteText">
        <div class="flow-root">
            <h3 class="float-left text-lg font-semibold">Starting</h3>
            <h4 class="float-right text-lg font-semibold" id="StartingPoints">100</h4>
        </div>
        <div class="flow-root mt-2">
            <h3 class="float-left text-lg font-semibold">Rate</h3>
            <h4 class="float-right text-lg font-semibold" id="EarningPoints">100</h4>
        </div>
        <div class="flow-root mt-2">
            <h3 class="float-left text-lg font-semibold">Total</h3>
            <h4 class="float-right text-lg font-semibold" id="TotalPoints">100</h4>
        </div>
        <div class="mt-2">
            <h3 class="text-center text-xl font-semibold">Initial Value</h3>
            <p>The amount of points a new user starts with.</p>
            <form class="mt-2">
                <label for="rateValueSlider">Starting Amount</label>
                <input type="range" class="w-full " id="pointValue" min="0" max="500"
                    oninput="document.getElementById('pointValueOutput').innerText = this.value">
                <p id="pointValueOutput">100</p>
            </form>
        </div>
        <div class="mt-2">
            <h3 class="text-center text-xl font-semibold">Rate</h3>
            <p>The amount of points earned per 15 minutes.</p>
            <form class="mt-2">
                <label for="rateValueSlider">Rate</label>
                <input type="range" class="w-full" id="pointRate" min="0" max="100"
                    oninput="document.getElementById('rateValueOutput').innerText = this.value">
                <p id="rateValueOutput">100</p>
            </form>
        </div>
        <div class="mt-2">
            <h3 class="text-center text-xl font-semibold">Name</h3>
            <p>The name of your currency.</p>
            <input class="w-full rounded-md mt-auto" type="text" placeholder="Name" id="pointsNewName">
        </div>
        <div class="mt-3 flex justify-center">
            <a class="btn-info" onclick="getPoints()">Refresh Leaderboard</a>
            <a class="btn-info" onclick="saveUserPointSettings()">Save</a>
        </div>
    </div>

    <div class="card-body glimPanel p-4 rounded-xl col-span-2 sm:mt-4 md:mt-0">
        <h3 class="whiteText text-center text-2xl font-bold" id="pointName">Points Leaderboard</h3>
        <app-points-table></app-points-table>
    </div>

</div>